@media (min-width: 575px){
    /* Education Section */
    .education-section .box{
        width: 361px!important;
    }
    /* #Education Section */
}

@media (max-width: 1600px){
    /* Home Section */
    .home-section-container{
        padding-top: 180px;
    }
    .home-carousel{
        margin-block: 50px;
    }
    .home-section .owl-theme .owl-dots{
        right: -40px;
    }
    /* #Home Section */

    /* Education Section */
    .education-section{
        margin-top: 70px;
    }
    .education-section .education-section-title{
        margin-bottom: 20px;
    }
    .education-section .btn-classic{
        margin-bottom: 50px;
    }
    /* #Education Section */

    
    /* Document Section */
    .document-section{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    /* #Document Section */

    /* Highlights Section */
    .highlights-section .owl-dots{
        right: -10px;
    }
    /* #Highlights Section */
    
    /* FAQ Section */
    .faq-section .accordion-item:last-child{
        margin-bottom: 70px;
    }
    .faq-section h1{
        margin-top: 70px;
    }
    /* #FAQ Section */
}

@media (max-width: 1520px){
     /* Home Section */
    .home-section .owl-theme .owl-dots{
        right: -20px;
    }
     /* #Home Section */

     /* Page - Chef Detay */
     .page .studies-section .grid-area .left-column img,
     .page .studies-section .grid-area .right-column img{
        width: 115px;
        height: 115px;
     }
     .page .studies-section .full-column{
        width: 240px;
     }
     .page .studies-section .grid-area .right-column img,
     .page.education-detail .studies-section .comment-area,
     .page .studies-section .full-column{
        height: 240px;
     }
     .page.education-detail .studies-section .comment-area{
        padding: 20px;
     }
     .page.education-detail .studies-section .comment-area p{
        margin-bottom: 20px;
     }
     .page.education-detail .studies-section .comment-area p br:first-child{
        display: none;
     }
     .page.education-detail .studies-section .comment-area{
        display: flex;
        justify-content: center;
        flex-direction: column;
     }
     /* #Page - Chef Detay */
}

@media (max-width: 1460px){
    /* General */
    h1{
        font-size: 50px;
    }
    /* #General */
    
    /* Home Section */
   .home-section .owl-theme .owl-dots{
       position: relative;
       right: auto;
       left: auto;
       flex-direction: row;
       transform: translateY(0);
       top: 0;
    }
    .home-section .owl-theme .owl-dots .owl-dot span{
        width: 30px;
        height: 10px;
    }
    .home-section .owl-theme .owl-dots .owl-dot.active span{
        width: 45px;
        height: 10px;
    }
    .home-section .owl-theme .owl-nav.disabled + .owl-dots{
        margin-top: 60px;
    }
    /* #Home Section */
}

@media (max-width: 1440px){
    /* General */
    h2{
        font-size: 38px!important;
    }
    .page .section h1{
        margin-bottom: 70px;
    }
    .page .section{
        padding-top: 200px;
    }
    /* #General */
    
    /* Highlights Section */
    .highlights-section{
        height: 700px!important;
    }
    .highlights-section .owl-dots{
        right: -30px;
    }
    .highlights-section .highlights-header .titles{
        gap: 15px;
    }
    .highlights-section .highlights-content{
        margin-top: 25px;
        gap: 30px;
    }
    .highlights-section .highlights-education{
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .highlights-section .owl-dots{
        right: 10px;
    }
    .highlights-section .figure-wrapper{
        width: 480px;
        height: 660px;
    }
    /* #Highlights Section */

    /* Footer */
    footer .footer-bottom .payment-methods{
        width: 52%;
    }
    /* #Footer */

    /* Page - Kurumsal */
    .page .kurumsal .kurumsal-bg img{
        width: 100%;
    }
    /* #Page - Kurumsal */

    /* Page - İletisim Bilgileri */
    .page .contact-box .box-info span,
    .page .contact-box .box-info a{
        font-size: 18px;
    }
    /* #Page - İletisim Bilgileri  */

    /* Page - Egitimlerimiz */
    .page .highlights-section .figure-wrapper{
        width: 500px;
    }
    .page .highlights-section .figure-wrapper img{
        width: 100%;
        object-fit: cover;
    }
    .page .educations-section .title,
    .page.chef-detail .price-section .title,
    .page.chef-detail .title,
    .page.title-center .title{
        padding-inline: 300px;
    }
    /* #Page - Egitimlerimiz */

    /* Page - Chef Detay */
    .page .video-section .video-wrapper{
        height: 700px;
    }
    .page .video-section .video-section-bg .play-video-btn img{
        width: 90px;
    }
    .page.chef-detail .educations-section .box-img img{
        height: 300px;
    }
    .page .educations-section,
    .page.chef-detail .price-section,
    .page .studies-section,
    .page .faq-section,
    .page.chef-detail .chef-pagination{
        margin-top: 80px;
    }
    .page.chef-detail .price-section .row .col-md-3{
        width: 300px;
    }
    .page .studies-section{
        padding-top: 0;
    }
    .page .faq-section h1{
        margin-top: 0;
    }
    /* #Page - Chef Detay */
}

@media (max-width: 1400px){
    /* Footer */
    footer .footer-bottom .payment-methods .box:first-child{
        margin-left: 0;
    }
    footer .footer-bottom .payment-methods .box{
        margin-right: 0;
    }
    footer .footer-bottom .payment-methods{
        justify-content: space-between;
        padding-inline: 25px;
    }
    /* #Footer */
}

@media (max-width: 1280px){
    /* Home Section */
    .home-section{
        padding-bottom: 40px;
    }
    .employee-box:hover .employee-box-content{
        right: -45px;
    }
    .employee-box .employee-information{
        padding-inline: 10px;
    }
    .employee-title{
        font-size: 38px;
        padding-right: 25px;
    }
    .home-carousel{
        margin-block: 35px;
    }
    .home-section .owl-theme .owl-nav.disabled + .owl-dots{
        margin-top: 35px;
    }
    .employee-box .employee-box-content img,
    .employee-box img{
        width: 90%!important;
    }
    .employee-subtitle{
        bottom: 60px;
    }
    .employee-box:hover .employee-subtitle{
        bottom: 35px;
    }
    /* #Home Section */

    /* Highlights Section */
    .highlights-section .figure-wrapper{
        width: 440px;
        height: 610px;
    }
    .highlights-section .figure-wrapper img{
        bottom: -90px;
    }
    .highlights-section .box .box-content h3{
        padding-inline: 30px;
    }
    /* #Highlights Section */

    /* Footer */
    footer .footer-bottom .social-media-icons{
        left: 0;
    }
    footer .footer-bottom .payment-methods{
        width: 55%;
    }
    footer .footer-bottom .social-media-icons a{
        font-size: 18px;
    }
    footer .row .col-md-6.col-lg-2:nth-child(2){
        margin-left: 5%;
    }
    footer .row .col-md-6.col-lg-2:nth-child(4){
        margin-left: 3%;
    }
    footer .row .logo-col{
        width: 16.66666667%;
    }
    footer .row .col-md-6.col-lg-2:last-child{
        margin-left: 5%;
    }
    footer .footer-content .links-wrapper a{
        text-wrap: nowrap;
    }
    /* #Footer */

    /* Page - İletisim Bilgileri */
    .page .contact-box{
        height: 220px;
        padding-inline: 25px;
    }
    .page .contact-box .box-icon svg{
        font-size: 40px;
    }
    .page.contact-page .row.info-row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 200px;
    }
    .page.contact-page .row.info-row .col-lg-4{
        margin-bottom: 20px;
    }
    .page.contact-page .row.info-row .col-lg-4:last-child{
        margin-bottom: 0;
    }
    /* #Page - İletisim Bilgileri */

    /* Page - Egitimlerimiz */
    .page .highlights-section .figure-wrapper{
        width: 450px;
    }
    .page .e-box-content{
        margin-top: 30px;
    }
    .page .chef-info{
        margin-left: 15px;
    }
    /* #Page - Egitimlerimiz */

    /* Page - Chef Detay */
    .page .video-section .video-content{
        padding: 65px 35px;
    }
    .page.chef-detail .educations-section .box-img img{
        height: 250px;
    }
    .page .educations-section .box-content{
        padding-block: 65px 20px;
        padding-inline: 25px;
    }
    .page .educations-section .edu-btn,
    .page .studies-section .owl-nav-buttons .prev-btn-wrapper,
    .page .studies-section .owl-nav-buttons .next-btn-wrapper,
    .page.chef-detail .circle-btn{
        width: 45px;
        height: 45px;
    }
    .page .educations-section .edu-btn img,
    .page .studies-section .owl-nav-buttons .prev-btn-wrapper img,
    .page .studies-section .owl-nav-buttons .next-btn-wrapper img,
    .page.chef-detail .circle-btn img{
        width: 15px;
        height: 15px;
    }
    .page .educations-section .edu-title{
        font-size: 20px;
    }
    .page .educations-section .title,
    .page.chef-detail .price-section .title,
    .page.chef-detail .title,
    .page.title-center .title{
        padding-inline: 150px;
    }

    /* #Page - Chef Detay */
}

@media (max-width: 1200px){
    /* General */
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 36px!important;
    }
    .btn-classic{
        padding: 8px 28px;
    }
    header nav .menu-wrapper a.login-btn{
        padding: 10px 28px;
    }
    /* #General */

    /* Home Section */
    .employee-box .employee-box-content img,
    .employee-box img{
        width: 85%!important;
    }
    .employee-title{
        font-size: 36px;
        padding-right: 35px;
    }
    .employee-subtitle{
        bottom: 70px;
    }
    .employee-box:hover .employee-subtitle{
        bottom: 55px;
    }
    /* #Home Section */
}

@media (max-width: 1150px){
    /* Home Section */
    .employee-box .employee-box-content img,
    .employee-box img{
        width: 100%!important;
    }
    .employee-title{
        font-size: 40px;
        padding-left: 10px;
    }
    .employee-box:hover .employee-subtitle{
        bottom: 5px;
    }
    /* #Home Section */

    /* Footer */
    footer .footer-bottom .payment-methods .box img{
        width: 100%;
        height: 25px;
    }
    footer .footer-bottom .payment-methods{
        width: 50%;
    }
    /* #Footer */

    /* Page - Egitimlerimiz */
    .page .highlights-section .figure-wrapper{
        display: none;
    }
    .page .lr-wrapper .left{
        width: 100%;
    }
    .page .highlights-section{
        margin-bottom: 0;
    }
    .page .chef-section{
        margin-top: 100px;
    }
    .page .chef-wrapper{
        margin-top: 70px;
    }
    /* #Page - Egitimlerimiz */

    /* Page - Chef Detay */
    .page .video-section .content-box{
        gap: 10px;
    }
    .page .video-section .content-box img{
        width: 35px;
    }
    /* #Page - Chef Detay */
}

@media (max-width: 1080px){
    /* Home Section */
    .employee-box .employee-box-content img,
    .employee-box img{
        width: 90%!important;
    }
    .employee-title{
        font-size: 36px;
        padding-left: 10px;
    }
    .employee-box:hover .employee-subtitle{
        bottom: 35px;
    }
    /* #Home Section */

    /* Footer */
    footer .row .col-md-6.col-lg-2:nth-child(2){
        margin-left: 4%;
    }
    /* #Footer */
}

@media (max-width: 1024px){
    /* General */
    .page .section h1{
        margin-bottom: 40px;
    }
    .page .section{
        padding-top: 180px;
    }
    /* #General */

    
    /* Highlights Section */
    .highlights-section .figure-wrapper{
        display: none;
    }
    .highlights-section .highlights-content{
        gap: 10px;
    }
    .highlights-section .highlights-content .box img{
        width: 35px;
        height: 35px;
    }
    .highlights-section .box .box-content h3{
        padding-inline: 15px;
        font-size: 20px;
    }
    .highlights-section .highlights-header .titles{
        gap: 5px;
    }
    .highlights-section{
        height: clamp(520px, 71.615vw, 650px)!important;
        margin-bottom: 70px;
    }
    .lr-wrapper .left{
        width: 100%;
    }
    .highlights-section .highlights-content{
        justify-content: normal;
        gap: 30px;
    }
    .highlights-section .owl-dots{
        position: relative;
        flex-direction: row;
        top: 0;
        right: auto;
        transform: translateY(0);
    }
    .highlights-section .owl-dots .owl-dot span{
        width: 30px;
        height: 10px;
    }
    .highlights-section .owl-dots .owl-dot.active span{
        width: 45px;
        height: 10px;
    }
    /* #Highlights Section */

    /* FAQ Section */
    .faq-section .accordion-collapse svg{
        width: 100%;
    }
    /* #FAQ Section */

    /* Page - Chef Detay */
    .popup-content{
        width: 90%;
    }
    .page .video-section .video{
        height: 500px;
    }
    /* #Page - Chef Detay */
}

@media (max-width: 1000px){
    /* Home Section */
    .employee-box .employee-box-content img,
    .employee-box img{
        width: 85%!important;
    }
    .employee-box:hover .employee-subtitle{
        bottom: 55px;
    }
    /* #Home Section */
}

@media (max-width: 999px){
    /* Home Section */
    .employee-box .employee-box-content img,
    .employee-box img{
        width: 100%!important;
    }
    .employee-title{
        font-size: 40px;
    }
    .employee-subtitle{
        bottom: 55px;
    }
    .employee-box:hover .employee-subtitle{
        bottom: 0;
    }
    /* #Home Section */
}

@media (max-width: 991px){
    /* General */
    .page .kurumsal p{
        text-align: center;
    }
    .page.content-page p{
        text-align: center;
    }
    /* #General */
    
    /* Header */
    header .menu-wrapper{
        display: none!important;
    }
    .mobile-nav,
    .hamburger{
        display: block;
    }
    #defaultLogo{
        height: 80px;
    }
    /* #Header */

    /* Highlights Section */
    .highlights-section .highlights-content{
        justify-content: space-between;
    }
    .highlights-section .box .box-content h3{
        font-size: 18px;
    }
    .highlights-section .figure-wrapper{
        width: 300px;
        height: 410px;
    }
    .highlights-section .figure-wrapper img{
        bottom: -25px;
    }
    /* #Highlights Section */

    /* Footer */
    footer .row .col-md-6.col-lg-2:nth-child(2),
    footer .row .col-md-6.col-lg-2:nth-child(4),
    footer .row .col-md-6.col-lg-2:last-child{
        margin-left: 0;
    }
    footer .row .logo-col{
        position: absolute;
        right: 30px;
        top: -1px;
    }
    footer .footer-bottom{
        flex-wrap: wrap;
    }
    footer .footer-bottom .copyright-text{
        order: 2;
        margin-bottom: 35px;
        margin-right: 20px;
    }
    footer .footer-bottom .payment-methods{
        width: 100%;
        margin-bottom: 35px;
    }
    /* #Footer */

    /* Page - İletisim Bilgileri */
    .page .form-wrapper{
        width: 90%;
        margin-inline: auto;
    }
    /* #Page - İletisim Bilgileri */

    /* Page - Egitimlerimiz */
    .page .highlights-section .highlights-content{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .page .lr-wrapper .left{
        padding-inline: 0;
    }
    /* #Page - Egitimlerimiz */

    /* Page - Chef Detay */
    .page .video-section .video-content{
        padding: 45px 35px;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center!important;
    }
    .page .video-section .video-wrapper{
        height: 650px;
    }
    .page .video-section .col-md-9{
        width: 85%;
    }
    .page .educations-section .edu-btn{
        width: 40px;
        height: 40px;
    }
    .page .educations-section .box-content{
        padding-inline: 20px;
    }
    .page .price-section .box-wrapper h3{
        font-size: 24px;
    }
    .page .price-section .box-wrapper .product-price{
        font-size: 35px;
    }
    /* #Page - Chef Detay */
}

@media (max-width: 950px){
    /* Highlights Section */
    /* #Highlights Section */
}

@media (max-width: 850px){
    /* Page - Chef Detay */
    .page .educations-section .title,
    .page.chef-detail .price-section .title,
    .page.chef-detail .title,
    .page.title-center .title{
        padding-inline: 50px;
    }
    /* #Page - Chef Detay */
}

@media (max-width: 800px){
    /* Home Section */
    .employee-box .employee-box-content img,
    .employee-box img{
        width: 90%!important;
    }
    .employee-title{
        font-size: 36px;
    }
    .employee-subtitle{
        bottom: 55px;
    }
    .employee-box:hover .employee-subtitle{
        bottom: 35px;
    }
    /* #Home Section */
}

@media (max-width: 768px){
    /* Page - Egitimlerimiz */
    .page .chef-img{
        width: 110px;
        height: 110px;
        flex-shrink: 0;
    }
    .education-page .owl-theme .owl-nav [class*='owl-']{
        margin: 5px 3px;
    }
    .education-page .owl-theme .owl-nav{
        top: -130px;
    }
    .education-page .owl-carousel .owl-nav button.owl-next,
    .education-page .owl-carousel .owl-nav button.owl-prev{
        width: 48px;
        height: 48px;
    }
    .education-page .all-btn{
        margin-right: 110px;
    }
    .page .chef-info{
        width: 225px;
    }
    /* #Page - Egitimlermiz */

    /* Page - Chef Detay */
    .page.chef-detail .educations-section .box-img img{
        height: 200px;
    }
    .page .educations-section .edu-title{
        font-size: 18px;
        font-weight: 600;
    }
    .page .educations-section .edu-btn{
        width: 35px;
        height: 35px;
    }
    .page .educations-section .title,
    .page.chef-detail .price-section .title,
    .page.chef-detail .title,
    .page.title-center .title{
        padding-inline: 0;
    }
    .page.chef-detail .title,
    .page.title-center .title,
    .page.chef-detail .price-section .title,
    .page.chef-detail .title,
    .page.title-center .title,
    .page .faq-section h1{
        margin-bottom: 35px;
    }
    .page .price-section .box-wrapper{
        padding: 40px 20px;
        height: auto;
    }
    .page.chef-detail .chef-pagination .left-pagi,
    .page.chef-detail .chef-pagination .right-pagi{
        height: auto;
    }
    /* #Page - Chef Detay */
}

@media (max-width: 767px){
    /* Footer */
    footer .row .logo-col{
        right: 50px;
    }
    /* #Footer */

    /* Page - Chef Detay */
    .page .educations-section .edu-title{
        gap: 15px;
        flex-direction: column;
        align-items: flex-start!important;
    }
    .page.chef-detail .price-section .row .col-md-3{
        width: 250px;
    }
    .page.chef-detail .chef-pagination .left-pagi,
    .page.chef-detail .chef-pagination .right-pagi{
        width: auto;
    }
    .page.chef-detail .pagi-wrapper{
        flex-wrap: wrap;
    }
    .page.chef-detail .left-pagi .chef-info a{
        margin-left: 30px;
    }
    .page.chef-detail .right-pagi .chef-info a{
        margin-right: 30px;
    }
    /* #Page - Chef Detay */
}

@media (max-width: 720px){
    /* Highlights Section */
    .highlights-section .highlights-content{
        gap: 10px;
        flex-wrap: wrap;
    }
    /* #Highlights Section */

    /* Page - Egitimlermiz */
    .page .chef-info{
        margin-left: 5px;
    }
    /* #Page - Egitimlermiz */
}

@media (max-width: 700px){
    /* Home Section */
    .employee-box .employee-box-content img,
    .employee-box img{
        width: 85%!important;
    }
    .employee-subtitle{
        bottom: 80px;
    }
    .employee-box:hover .employee-subtitle{
        bottom: 55px;
    }
    /* #Home Section */
}

@media (max-width: 660px){
    /* Highlights Section */
    .highlights-section{
        height: 530px!important;
    }
    /* #Highlights Section */

    /* Page - Egitimlerimiz */
    .page .chef-wrapper .chef-area{
        flex-wrap: wrap;
        gap: 25px;
    }
    .education-page .owl-theme .owl-nav{
        top: -98px;
    }
    /* #Page - Egitimlerimiz */
}

@media (max-width: 650px){
    /* Home Section */
    .employee-box .employee-box-content img,
    .employee-box img{
        width: 80%!important;
    }
    .employee-subtitle{
        bottom: 120px;
    }
    .employee-box:hover .employee-subtitle{
        bottom: 80px;
    }
    /* #Home Section */

    /* Highlights Section */
    .highlights-section .highlights-content{
        gap: 20px;
    }
    .highlights-section .box .box-content h3{
        font-size: 18px;
    }
    /* #Highlights Section */

    /* FAQ Section */
    .faq-section .accordion-button{
        padding: 29px 25px;
    }
    .faq-section .accordion-collapse{
        padding-inline: 20px
    }
    /* #FAQ Section */

    /* Page - Chef Detay */
    .page.chef-detail .chef-pagination .left-pagi,
    .page.chef-detail .chef-pagination .right-pagi{
        border-radius: 12px;
        flex-direction: column-reverse;
        padding: 35px 25px;
    }
    .page.chef-detail .right-pagi .chef-info a{
        margin-right: 0;
    }
    .page.chef-detail .left-pagi .chef-info a{
        margin-left: 0;
    }
    .page.chef-detail .right-pagi .chef-info a,
    .page.chef-detail .left-pagi .chef-info a{
        align-items: center;
    }
    .page.chef-detail .left-pagi .circle-btn{
        left: 50%;
        transform: translateX(-50%);
        bottom: -22px;
    }
    .page.chef-detail .right-pagi .circle-btn{
        right: 50%;
        transform: translateX(50%) scaleX(-1);
        bottom: -22px;
    }
    /* #Page - Chef Detay */
}

@media (max-width: 600px){
    /* Home Section */
    .employee-box .employee-box-content{
        width: 100%;
        height: 100%;
    }
    .employee-box .employee-box-content img{
        position: absolute;
        width: 60%!important;
        height: 90%;
        bottom: 0;
        right: 50px;
        object-fit: cover;
    }
    .employee-box:hover .employee-box-content{
        right: -25px;
    }
    .employee-box:hover .employee-subtitle{
        bottom: 70px;
    }
    .employee-title{
        font-size: 34px;
    }
    /* #Home Section */

    /* Highlights Section */
    .highlights-section{
        height: auto!important;
    }
    /* #Highlights Section */
}

@media (max-width: 599px){
    /* Home Section */
    .employee-box .employee-box-content{
        width: auto;
        height: auto;
    }
    .employee-box .employee-box-content img,
    .employee-box img{
        width: 100%!important;
        height: 100%;
    }
    .employee-box .employee-box-content img{
        position: static;
    }
    .employee-subtitle{
        bottom: 55px;
    }
    .employee-box:hover .employee-subtitle{
        bottom: 0;
    }
    .employee-box:hover .employee-box-content{
        right: -40px;
    }
    .employee-title{
        font-size: 36px;
    }
    /* #Home Section */
}

@media (max-width: 575px){
    /* OWL */
    .owl-dots .owl-dot span,
    .slick-dots li{
        width: 20px!important;
    }
    .owl-dots .owl-dot.active span,
    .slick-dots li.slick-active{
        width: 35px!important;
    }
    .owl-theme .owl-dots .owl-dot span{
        margin: 5px 5px!important;
    }
    /* #OWL */
    
    /* Home Section */
    .home-section{
        overflow: hidden;
    }
    .home-section .home-section-bg{
        height: 103%;
        top: -1px;
    }
    /* #Home Section */
    
    /* Highlights Section */
    .highlights-section .highlights-header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .highlights-section .highlights-header .titles{
        margin-bottom: 15px;
    }
    .highlights-section .box .box-content h3{
        font-size: 20px;
    }
    .highlights-section .highlights-content{
        margin-top: 30px;
        gap: 0;
    }
    .highlights-section .highlights-content .box{
        width: 35%;
        margin-left: 11%;
        margin-bottom: 15px;
    }
    .highlights-section .highlights-education{
        text-align: center;
        margin-top: 20px;
    }
    /* #Highlights Section */

    /* FAQ Section */
    .faq-section .accordion-button h3{
        font-size: 18px;
        padding-inline: 0;
        text-align: left;
    }
    .faq-section .accordion-collapse{
        padding-inline: 5px;
    }
    .faq-section .accordion-collapse svg{
        margin-bottom: 25px;
    }
    .faq-section .accordion-body li{
        font-size: 14px;
    }
    /* #FAQ Section */

    /* Footer */
    footer .footer-content .row{
        padding-top: 240px;
    }
    footer .row .logo-col{
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    footer .row .col-md-6.col-lg-2{
        text-align: center;
    }
    footer .footer-content .links-wrapper{
        margin-top: 0;
    }
    footer .row .col-md-6.col-lg-2{
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    footer .row .col-md-6.col-lg-2:last-child{
        margin-bottom: 0;
        border-bottom: none;
    }
    footer .footer-content .links-wrapper .link:last-child{
        margin-bottom: 0;
    }
    footer .row .col-md-6.col-lg-2{
        border-bottom: 2px solid rgba(0, 0, 0, .1);
    }
    footer .footer-bottom{
        margin-top: 20px;
        justify-content: center;
    }
    footer .footer-bottom .copyright-text,
    footer .footer-bottom .social-media-icons{
        margin-bottom: 20px;
        margin-right: 0;
    }
    /* #Footer */

    /* Page - Egitimlerimiz */
    .education-page .lr-wrapper{
        text-align: center;
    }
    .education-page .highlights-section .highlights-header .titles{
        justify-content: center;
    }
    /* #Page - Egitimlerimiz */
    
    /* Page - Chef Detay */
    .page .video-section .video-wrapper{
        margin-inline: 2%;
    }
    .page .video-section .col-md-9{
        width: 90%;
    }
    .page .video-section .video-content{
        padding: 30px 25px;
    }
    .page .video-section .video{
        height: 280px;
    }
    .page .studies-section .comment-area .user-info .user-bg{
        width: 40px;
        height: 40px;
    }
    .page .studies-section .comment-area .user-info span{
        font-size: 16px;
    }
    .page .studies-section .grid-area .left-column img,
    .page .studies-section .grid-area .right-column img{
        width: 100px;
        height: 100px;
    }
    .page .studies-section .grid-area .right-column img,
    .page.education-detail .studies-section .comment-area,
    .page .studies-section .full-column{
        height: 210px;
    }
    .page .studies-section .full-column{
        width: 210px;
     }
    /* #Page - Chef Detay */
}

@media (max-width: 559px){
    /* Home Section */
    .employee-box{
        margin-inline: auto;
    }
    /* #Home Section */
}

@media (max-width: 530px){
    /* Highlights Section */
    .highlights-section .highlights-content .box{
        width: 36%;
        margin-left: 10%;
        flex-grow: 1;
    }
    .highlights-section .highlights-content .box .content-title{
        text-wrap: nowrap;
    }
    /* #Highlights Section */
}

@media (max-width: 500px){
    /* Page - Chef Detay */
    .page.chef-detail .price-section .row .col-md-3{
        width: 90%;
        margin-bottom: 15px;
    }
    .page.chef-detail .price-section .row .col-md-3:last-child{
        margin-bottom: 0;
    }
    /* #Page - Chef Detay */
}

@media (max-width: 480px){
    /* General */
    h1{
        font-size: 34px;
    }
    h2{
        font-size: 28px!important;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 15px;
    }
    p{
        font-size: 14px!important;
    }
    a{
        font-size: 14px;
    }
    .page .section h1{
        margin-bottom: 20px;
    }
    .page .kurumsal h2{
        margin-bottom: 15px!important;
    }
    .page .section{
        padding-top: 150px;
        margin-bottom: 250px;
    }
    /* #General */

    /* Header */
    header nav{
        margin-top: 20px;
    }
    #defaultLogo,
    .mobile-nav .mobile-nav-header .header-logo img{
        height: 70px;
    }
    /* #Header */

    /* Mobile Nav */
    .mobile-nav{
        width: 300px;
    }
    .mobile-nav .mobile-nav-content a{
        font-size: 18px;
    }
    /* #Mobile Nav */

    /* Home Section */
    .home-section{
        height: auto;
        min-height: 100vh;
    }
    .home-section-container{
        padding-top: 120px;
    }
    .home-section .home-title{
        margin-bottom: 0;
    }
    .home-carousel{
        margin-block: 45px;
    }
    .home-section .owl-theme .owl-nav.disabled + .owl-dots{
        flex-wrap: wrap;
        margin-top: 45px;
    }
    .employee-box .employee-box-content img,
    .employee-box img{
        width: 80%!important;
    }
    .employee-subtitle{
        bottom: 120px;
    }
    .employee-box:hover .employee-subtitle{
        bottom: 75px;
    }
    /* #Home Section */

    /* Education Section */
    .education-section{
        margin-top: 40px;
    }
    .education-section .btn-classic{
        margin-bottom: 30px;
    }
    /* #Education Section */

    /* Document Section */
    .document-section{
        margin-bottom: 40px;
    }
    .document-section .box-wrapper .document-title{
        width: 240px;
    }
    .document-section .box-wrapper .box-img .box-icon{
        width: 55px;
    }
    .document-section .box-wrapper:hover .box-icon{
        top: 27px;
        width: 189px;
        height: 189px;
        opacity: .2;
    }
    /* #Document Section */

    /* Highlights Section */
    .highlights-section{
        margin-bottom: 40px;
    }
    .highlights-section .box .box-content h3{
        font-size: 18px;
    }
    .highlights-section .highlights-content .box{
        margin-left: 0;
        justify-content: flex-end;
    }
    .highlights-section .highlights-content .box:nth-child(1){
        justify-content: flex-start;
    }
    .highlights-section .highlights-content .box:nth-child(3){
        justify-content: flex-start;
    }
    .highlights-section .box .box-bg img{
        height: 300px;
        object-fit: cover;
    }
    /* #Highlights Section */

    /* FAQ Section */
    .faq-section h1{
        margin-top: 40px;
        margin-bottom: 25px;
    }
    .faq-section .accordion-item:last-child{
        margin-bottom: 40px;
    }
    .faq-section .accordion-button h3{
        font-size: 16px;
    }
    .faq-section .accordion-button{
        padding: 20px;
    }
    .faq-section .accordion-body li{
        margin-left: 20px;
    }
    /* #FAQ Section */

    /* Footer */
    footer .footer-bottom .payment-methods{
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }
    footer .footer-bottom .payment-methods .box img{
        height: auto;
    }
    footer .footer-bottom .copy-text{
        text-align: center;
    }
    footer .footer-content .links-wrapper a,
    footer .footer-bottom .copy-text{
        font-size: 14px;
    }
    footer .footer-content .row{
        padding-top: 200px;
    }
    footer .row .col-md-6.col-lg-2{
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    footer .footer-bottom{
        margin-top: 5px;
    }
    footer .footer-bottom .copyright-text{
        width: 100%;
    }
    footer .footer-bottom .payment-methods,
    footer .footer-bottom .copyright-text,
    footer .footer-bottom .social-media-icons,
    footer .footer-content .links-wrapper .link{
        margin-bottom: 15px;
    }
    /* #Footer */

    /* Page - Kurumsal */
    .page .kurumsal p{
        margin-bottom: 50px;
    }
    /* #Page - Kurumsal */

    /* Page - İletisim Bilgileri */
    .page .gmap iframe{
        height: 550px;
    }
    .page .contact-box{
        gap: 10px;
    }
    /* #Page - İletisim Bilgileri */

    /* Page- Egitimlerimiz */
    .page .e-box-content{
        margin-top: 25px;
    }
    .page .circle-btn{
        width: 35px;
        height: 35px;
    }
    .page .circle-btn svg{
        width: 15px;
        height: 15px;
    }
    .education-page .owl-theme .owl-nav{
        top: -92px;
    }
    .education-page .owl-carousel .owl-nav button.owl-next,
    .education-page .owl-carousel .owl-nav button.owl-prev{
        width: 40px;
        height: 40px;
    }
    .education-page .owl-carousel .prev-slide,
    .education-page .owl-carousel .next-slide{
        width: 15px;
        height: 15px;
    }
    .page .highlights-section{
        margin-bottom: 0;
    }
    .education-page .highlights-section .highlights-content .box{
        margin-left: 10%;
        justify-content: flex-start;
    }
    /* #Page - Egitimlerimiz */

    /* Page - Chef Detay */
    .page .video-section .video-wrapper{
        height: 500px;
    }
    .page .video-section .video-section-bg .play-video-btn img{
        width: 80px;
    }
    .page .video-section .col-md-9{
        width: 100%;
    }
    .page .chef-about-section .desc{
        margin-top: 25px;
    }
    .page.chef-detail .title,
    .page.title-center .title,
    .page .faq-section h1{
        margin-bottom: 25px;
    }
    .page .educations-section,
    .page.chef-detail .price-section,
    .page .studies-section,
    .page .faq-section,
    .page.chef-detail .chef-pagination{
        margin-top: 60px;
    }
    .page .price-section .box-wrapper .product-price{
        font-size: 34px;
    }
    .page .studies-section .grid-area .left-column img,
    .page .studies-section .grid-area .right-column img{
        width: 75px;
        height: 100px;
    }
    .page .studies-section .grid-area .right-column img,
    .page.education-detail .studies-section .comment-area,
    .page .studies-section .full-column{
        height: 210px;
    }
    .page .studies-section .full-column{
        width: 210px;
     }
     .page.chef-detail .pagi-wrapper{
        justify-content: space-between!important;
        gap: 0;
     }
    /* #Page - Chef Detay */
}

@media (max-width: 450px){
    /* Employee Section */
    .employee-box .employee-box-content img,
    .employee-box img{
        width: 70%!important;
    }
    /* #Employee Section */
}

@media (max-width: 425px){
    /* General */
    .btn-classic{
        padding: 6px 25px;
    }
    .page .section{
        padding-top: 140px;
    }
    /* #General */
    
    /* Education Section */
    .education-section{
        margin-top: 25px;
    }
    /* #Education Section */

    /* Document Section */
    .document-section{
        margin-top: 60px;
        margin-bottom: 25px;
    }
    /* #Document Section */
    
    /* Highlights Section */
    .highlights-section{
        margin-bottom: 25px;
    }
    .highlights-section .box .box-content h3{
        height: 50px;
    }
    /* #Highlights Section */

    /* FAQ Section */
    .faq-section h1{
        margin-top: 30px;
    }
    .faq-section .accordion-item:last-child{
        margin-bottom: 30px;
    }
    .faq-section .accordion-button{
        padding: 18px;
    }
    .faq-section .accordion-body li{
        margin-left: 15px;
    }
    .faq-section .accordion-collapse svg{
        margin-bottom: 15px;
    }
    .faq-section .accordion-body{
        padding-bottom: 15px;
    }
    /* #FAQ Section */

    /* Page - Chef Detay */
    .page .video-section .video{
        height: 200px;
    }
    .page.education-detail .studies-section .wrapper{
        flex-direction: column;
    }
    .page .studies-section .grid-area{
        width: 100%;
    }
    .page .studies-section .grid-area .left-column,
    .page .studies-section .grid-area .right-column{
        width: 50%;
    }
    .page .studies-section .grid-area .left-column img,
    .page .studies-section .grid-area .right-column img{
        width: 100%;
        height: 140px;
    }
    .page .studies-section .grid-area .right-column img,
    .page .studies-section .full-column{
        height: 290px;
    }
    .page.education-detail .studies-section .comment-area{
        height: auto!important;
    }
    .page .studies-section .full-column{
        width: 100%;
    }
    .page.chef-detail .chef-pagination .left-pagi,
    .page.chef-detail .chef-pagination .right-pagi{
        padding: 25px;
    }
    .page .educations-section .edu-btn,
    .page .studies-section .owl-nav-buttons .prev-btn-wrapper,
    .page .studies-section .owl-nav-buttons .next-btn-wrapper,
    .page.chef-detail .circle-btn{
        width: 40px;
        height: 40px;
    }
    /* #Page - Chef Detay */
}

@media (max-width: 389px){
    /* Page - Chef Detay */
    .page .educations-section .educations-carousel{
        margin-top: -50px;
    }
    /* #Page - Chef Detay */
}

@media (max-width: 375px){
    /* General */
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 26px!important;
    }
    /* #General */
    
    /* Header */
    #defaultLogo,
    .mobile-nav .mobile-nav-header .header-logo img{
        height: 65px;
    }
    /* #Header */

    /* Home */
    .home-carousel{
        margin-block: 25px;
    }
    .home-section .owl-theme .owl-nav.disabled + .owl-dots{
        margin-top: 25px;
    }
    /* #Home */

    /* Page - Chef Detay */
    .page .price-section .box-wrapper .product-price{
        font-size: 32px;
    }
    /* #Page - Chef Detay */
}

@media (max-width: 350px){
    /* Highlights Section */
    .highlights-section .box .box-content h3{
        height: 75px;
    }
    /* #Highlights Section */
}

@media (max-width: 330px){
    /* Home Section */
    .employee-box .employee-box-content img,
    .employee-box img{
        width: 75%!important;
    }
    .employee-box:hover .employee-subtitle{
        bottom: 95px;
    }
    /* #Home Section */
}

@media (max-width: 300px){
    /* Mobile Nav */
    .mobile-nav{
        width: 100%;
    }
    /* #Mobile Nav */
}